<h1>Create a new Pet</h1>
<form action="/pets" method="post">
    <h4>Pet Name: <br><input type="text" name="pet_name"></h4>
    <h3>Existing Owners</h3>
    <% @owners.each do |owner|%>
        <input type="radio" name="owner_id" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %>
    <% end %>

    <h3>New Owner</h3>
    <h4>Owner Name: <br><input type="text" name="owner_name" id="owner_name"></h4>
    <br>
    <input type="submit" value="Create Pet">
</form>

